<h1 class="display-4 h2">Scrape Report</h1>
<% if @search_results.present? %>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Keyword</th>
        <th>Number of adwords</th>
        <th>Number of links</th>
        <th>Html content</th>
        <th>Total search result</th>
      </tr>
    </thead>

    <tbody>
      <% @search_results.each do |search_result| %>
        <tr>
          <td><%= search_result.keyword %></td>
          <td><%= search_result.number_of_adwords %></td>
          <td><%= search_result.number_of_links %></td>
          <td><%= search_result.html_content %></td>
          <td><%= search_result.total_search_result %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p class="lead">No results so far</p>
<% end %>


